@{
    ViewBag.Title = "Home";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap" rel="stylesheet">
<div class="col-sm-12 col-sm-6 col-md-4 col-lg-3">
    <div class="container-fluid">
        <article id="content2">

            <div id="container2">
                <!--content 2-->
                <table id="tableprod">
                    <tr>
                        <th class="picprod"><a href="https://localhost:44385/Font_end.html"><img class="itemprod" src="/logo-pic/prod1.png" /></a> </th>
                        <th class="picprod"><a href="https://localhost:44385 /Font_end.html"><img class="itemprod" src="/logo-pic/prod2.png" /></a></th>
                        <th class="picprod"><a href="https://localhost:44385/Font_end.html"><img class="itemprod" src="/logo-pic/prod3.png" /></a></th>

                    </tr>
                    <tr>
                        <td><a class="linkitemss" href="https://localhost:44385/Font_end.html">RÕ RÀNG HƠN.TƯƠI SÁNG HƠN.TỐT HƠN </a></td>
                        <td><a class="linkitemss" href="https://localhost:44385/Font_end.html">THÁCH THỨC SỰ NHÀM CHÁN</a></td>
                        <td><a class="linkitemss" href="https://localhost:44385/Font_end.html">HÃY NÂNG CAO TÂM TRẠNG</a></td>
                    </tr>
                    <tr>
                        <td class="text-prod">Hình ảnh, âm thanh và họp mặt tốt hơn với Brio 100<br />một webcam đơn giản và có giá thành phải chăng<br /> cho phép bạn thể hiện bản thân tốt nhất trong các<br />cuộc gọi video.</td>
                        <td class="text-prod">Hãy để cả thế giới thấy bạn là ai với Bộ sưu tập<br /> Pebble 2. Chuột và bàn phím tròn, mỏng được thiết<br /> kế tối giản để trở nên nổi bật.</td>
                        <td class="text-prod">với chuột công thái học Lift Vertical</td>
                    </tr>
                    <tr>
                        <td><a class="linkitems" href="https://localhost:44385/Font_end.html">KHÁM PHÁ BRIO 100 ></a></td>
                        <td><a class="linkitems" href="https://localhost:44385/Font_end.html">PEBBLE KEYS 2 K380S></a><br /><a class="linkitems" href="https://localhost:44385/Font_end.html">PEBBLE 2 COMBO></a></td>
                        <td><a class="linkitems" href="https://localhost:44385/Font_end.html">KHÁM PHÁ LIFT></a></td>
                    </tr>
                </table>
            </div>
        </article>          <!--finished content2-->

        <div id="spacehr"></div>

        <article id="content3">
            <!--bat dau content3-->
            <div id="container3">
                <table id="tableprod2">
                    <tr>
                        <th id="x1" colspan="2">
                            <a id="item1" href="https://localhost:44385/Product/Index">
                                <div class="image-container">
                                    <img id="edititem1" src="/logo-pic/banphim.jpg" />
                                    <div class="image-caption">Chuột &#38;AMP;BÀN PHÍM</div>
                                </div>
                            </a>
                        </th>
                        <th id="x2">
                            <a id="item2" href="https://localhost:44385/Font_end.html">
                                <div class="image-container">
                                    <img id="edititem2" src="/logo-pic/webcam.jpg" />
                                    <div class="image-caption1">TRUYỀN TRỰC TUYẾN</div>
                                </div>
                            </a>
                        </th>
                    </tr>
                    <tr>
                        <td id="x3">
                            <a class="item3" href="https://localhost:44385/Font_end.html">
                                <div class="image-container">
                                    <img class="edit34" src="/logo-pic/ipad.jpg" />
                                    <div class="image-caption">THIẾT BỊ DI ĐỘNG</div>
                                </div>
                            </a>
                        </td>
                        <td id="x4">
                            <a class="item3" href="https://localhost:44385/Font_end.html">
                                <div class="image-container">
                                    <img class="edit34" src="/logo-pic/earphone.jpg" />
                                    <div class="image-caption">TAI NGHE &#38; EARBUDS</div>
                                </div>
                            </a>
                        </td>
                        <td id="x5">
                            <a id="item4" href="https://localhost:44385/Font_end.html">
                                <div class="image-container">
                                    <img id="edit5" src="/logo-pic/videopic.jpg" />
                                    <div class="image-caption">HỘI NGHỊ VIDEO</div>
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

        </article> <!--finished content3-->
        <div class="spacee"></div>
    </div>
</div>
